ETCD_NAME="{{etcd_name}}"
ETCD_DATA_DIR="{{etcd_path}}/data"
ETCD_LISTEN_PEER_URLS="https://192.168.165.81:2380"
ETCD_LISTEN_CLIENT_URLS="https://192.168.165.81:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://192.168.165.81:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://192.168.165.81:2379"
ETCD_INITIAL_CLUSTER="etcd-01=https://192.168.165.81:2380"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER_STATE="new"