[Unit]
Description=etcd server
After=network.target
After=network-online.target
Wants=network-online.target
[Service]
Type=notify
EnvironmentFile=-{{etcd_path}}/config/etcd.conf
WorkingDirectory={{etcd_path}}
ExecStart={{etcd_path}}/bin/etcd \
  --cert-file={{etcd_path}}/cert/etcd.pem \
  --key-file={{etcd_path}}/cert/etcd-key.pem \
  --trusted-ca-file={{etcd_path}}/cert/ca.pem \
  --peer-cert-file={{etcd_path}}/cert/etcd.pem \
  --peer-key-file={{etcd_path}}/cert/etcd-key.pem \
  --peer-trusted-ca-file={{etcd_path}}/cert/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth
Restart=on-failure
RestartSec=5
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target