{% set number=cert_ips.etcd | length %}
{
    "CN": "etcd",
    "hosts": [
      "127.0.0.1",
    {% for ip in cert_ips.etcd %}
      {% if number == loop.index %}
      "{{ ip }}"
      {% else %}
      "{{ ip }}",
      {% endif %}
    {% endfor %}
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "Chengdu",
            "ST": "Sichuan",
            "O": "k8s",
            "OU": "system"
        }
    ]
}