{
  "CN": "clusteradmin",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "L": "Chengdu",
      "ST": "Sichuan",
      "O": "system:masters",
      "OU": "system"
    }
  ]
}